@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/header.scss"; 
@import "./components/banner.scss"; 

body,
html {
  font-family: 'IBM Plex Mono', monospace,'Playfair Display', serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  font-size: 16px;
}


.container{
  width:1560px;
  min-width: 1560px;
  margin: 0 auto;
  height:100%;
  @include media("<=1560px"){
    width:1280px;
    min-width: 1280px;
  }
  @include media("<=desktop"){
    width: 1140px;
    min-width: 1140px;
  }
  @include media("<=1140px") {
    width: 100%;
    min-width: 100%;
  }

  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}
.page {
  height: 100vh;
  width: 100%;
  background: $black;
  .row {
    display: flex;
    align-items: center;
  }
}

.bgImage{
  width:100%;
  min-height:100vh;
}