@import "../variables.scss";
@import "../breakpoints.scss";
header{
    height:93px;
    width:100%;
    // position: absolute;
    // top:0px;
    z-index: 10;

    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 93px;
        padding:0 15px;
        .logo{
            a{
                font-weight: 700;
                font-family: 'Playfair Display', serif;
                text-decoration: none;
                line-height: 30px;
                color:$white;
                font-size: 22px;
            }
            &:hover{
                a{
                    color:$secondary_text;
                }    
            }
        }
        .navigation{
            nav{
                a{
                margin:0 13px;
                text-decoration: none;
                color:$white;
                line-height: 18px;
                font-weight: 400;
                font-size: 18px;
                }
            }
        }
    }
    
}