@import "../variables.scss";
@import "../breakpoints.scss";

.main{ 
    height: 84vh; //fallback option
    height: calc(var(--vh, 1vh) * 84);
    .row {
    display: flex;
    height: 100%;
    align-items: center;
    .col{
        flex:0.7;
        display: flex;
        flex-direction: row;
        padding: 0 15px;
        .menu-btn{
            margin-right: 100px;
            height:30px;
            width:30px;
            padding:2px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .line-menu{
                height:3px;
                width:100%;
                background-color: $white;
                border-radius: 10px;
            }
            .half{
                width:50%;
            }
            .start{
                align-self: flex-start;
            }
            .end{
                align-self: flex-end;
            }

            
        }
        .description{   
            display: flex;
            flex-direction: column;
            background-color:green;
            h4{
                font-size: 90px;
                font-family: 'Playfair Display', serif;
                margin-bottom: 5px;
                margin-left: ;
            }
        }
    }
    
  }
}