@import "../variables.scss";
@import "../breakpoints.scss";

.main{ 
    height: 85vh; //fallback option
    height: calc(var(--vh, 1vh) * 85);
    .row {
    display: flex;
    height: 100%;
    align-items: center;
    .col{
        flex:0.7;
        display: flex;
        flex-direction: row;
        padding: 0 15px;
        background-color: red;
        .menu-btn{
            margin-right: 100px;
            height:30px;
            width:30px;
            .line-menu{
                height
            }
        }
        .description{
            
            display: flex;
            flex-direction: column;
            background-color:green;
        }
    }
    
  }
}