@import "../variables.scss";
@import "../breakpoints.scss";

.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:40px 15px;
    border-bottom-width: 2px;
    border-bottom-color:$secondary_text;
    .profile-photo{
        display: block;
        background-color: red;
        flex:0.35;
       align-items: center;
        justify-content: center; 
        p{
            color:white;
        }
    }
    .bio-description{
        flex:0.65;
        background-color: red;
    }
}