@import "../variables.scss";
@import "../breakpoints.scss";

.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 15px;
    .profile-photo{
        flex:0.35;
        flex-direction: column;
        background-color: yellow;
        img{
            background-color: green;
            height: 280px;
            width: 280px;
            border-radius: 280px/2;

        }
        p{
            color:white;
        }
    }
    .bio-description{
        flex:0.65;
        background-color: red;
    }
}