@import "../variables.scss";
@import "../breakpoints.scss";

.bio{
    background-color: red;
    height: 70vh;
    display: flex;
    flex-direction: row;
    .profile-photo{
        flex-direction: ;
        background-color: yellow;
        img{
            background-color: green;

        }
        p{
            color:white;
        }
    }
}