@import "../variables.scss";
@import "../breakpoints.scss";

.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:40px 15px;
    border-bottom-width: 1px;
    border-bottom-color:
    .profile-photo{
        flex:0.35;
        align-items: center;
        justify-content: center; 
           
        .profile-img{
            border-radius: 140px;
            
        }
        p{
            color:white;
        }
    }
    .bio-description{
        flex:0.65;
        background-color: red;
    }
}