@import "../variables.scss";
@import "../breakpoints.scss";

.bio{
    background-color: red;
    .profile-photo{
        background-color: yellow;
        img{
            background-color: green;
            
        }
    }
}