@import "../variables.scss";
@import "../breakpoints.scss";

.bio{
    background-color: red;
    height: 70vh;
    display: flex;
    flex-direction: row;
    padding:0 
    .profile-photo{
        flex:0.3;
        flex-direction: column;
        
        background-color: yellow;
        img{
            background-color: green;

        }
        p{
            color:white;
        }
    }
}