
.side-drawer{
    height: 100%;
    background: #000d0f;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    z-index: 200;
    padding:20px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.9); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
 }

 .side-nav-info{
     padding:0 40px;
     position:absolute;
     top:40px;
     left:0;
     .p{
        display: block;
        font-size: 16px;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        line-height: ;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
     }
 }